@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  --transparent: transparent;
  --black: #000;
  --white: #fff;

  --gunmetal-100: #d4d5d7;
  --gunmetal-200: #9b9da1;
  --gunmetal-400: #63656a;
  --gunmetal-500: #2a2d34;
  --gunmetal-800: #17191d;

  --blue-400: #6caef1;
  --blue-500: #3c91e6;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

input,
button {
  border: 0;
  border-radius: 0.25rem;
}

/* CSS */

.navbar, .navbar-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gunmetal-800);
  color: whitesmoke;
  padding: 1rem 2rem;
  min-height: 50px;
  max-height: 50px;
  font-size: 1.5rem;
}

.navbar-items{
  gap: 1rem;
}

.navbar-item a{
  color: whitesmoke;
  text-decoration: none;
  border: 1px solid whitesmoke;
  padding: 5px 10px;
}

.navbar-item a:hover{
  background-color: whitesmoke;
  color: var(--gunmetal-800);
}

.logo{
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: calc(100vh - 80px);
  background-color: var(--gunmetal-800);
  color: var(--gunmetal-200);
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ph-dog {
  font-size: 115px;
  color: var(--blue-500);
}

.title {
  color: var(--gunmetal-100);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.good {
  color: var(--gunmetal-400);
  font-size: 1.125rem;
  margin-top: 0.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  margin-top: 2.5rem;
}

.main-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
  margin-top: 2.5rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.75rem 1rem 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--black);
  background: var(--blue-500);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue-400);
}

.btn-home {
  padding: 30px 50px;
  font-size: 1.1rem;
}

.label-name {
  display: flex;
}

.label-name {
  flex-direction: column;
  gap: 0.75rem;
}

.label-remember {
  align-items: center;
  gap: 0.5rem;
}

.name-span {
  color: var(--gunmetal-200);
  font-weight: 600;
  line-height: 1.25rem;
}

.input-container:focus-within {
  box-shadow: inset 0 0 0 calc(2px + 0px) var(--blue-500);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem;
  background-color: var(--gunmetal-500);
  border-radius: 0.25rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


.input {
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--gunmetal-200);
  background-color: var(--transparent);
  outline: none;
  flex: 1;
  padding: 3px;
}

.input::placeholder {
  color: var(--gunmetal-400);
}

.input-verify {
  display: none;
}

.btn-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  background-color: var(--gunmetal-500);
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-checkbox .ph-check {
  display: block;
  color: var(--blue-500);
  font-size: 20px;
}

.prev-polls {
  width: 100%;
}

.prev-polls-btn {
  background-color: whitesmoke;
}